/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }

body{
    padding: 30px 0px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    text-rendering: optimizeLegibility;
}
  
.container {
    margin-bottom: 250px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.header-title {
    font-weight: 600;
    margin-bottom: 0px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #2f2f2f;
    margin-top: 10px;
}

.card-search {
    text-align: end;
    width: 91%;
    margin: 8px;
}

.search {
    
    font-size: 14px;
    input {
        font-size: 14px;
        width: 50%;
        border: none;
        border-radius: 10px;
        padding: 8px 10px; 
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
    }
    i{

        margin: 0;
        position: absolute;
        border-radius: 10px;
        padding: 11px 10px; 
        color: #DC5C05;
        
    }
    .fa-solid, .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 1000;
    }
}

a.btn {
    background: #FFAC00;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
    color: #ffffff;
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(#FFAC00,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(#FFAC00,2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 160px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 180px;
  z-index: 1;

  img {
    width: 100%;
    height: 120px;
  }
  
  .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 120px;
    padding-bottom: 60%;
  }

  div.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 5px;
    height: 60px;
    position: relative;
    z-index: 0;
    
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 5px;
      top: 10px;
      width: 32px;
      
      span {
        background: #ffffff
;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    
    h2 {
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: -0.05em;
        margin: 0;
        padding: 0;
      
      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  div.card-description {
    padding: 0 13px 10px;
    position: relative;
    font-weight: 500;
    font-size: 11px;
    
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 5px;
        width: 100%;
        table-layout: fixed;
        .title th {
            text-align: center;
        }
        th, td{
            border: 1px solid #ccc;
            padding: 3px;
        }
    }
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  div.card-flap {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background: darken(#ffffff,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }
  
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: red !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}

.nutri-facts {
    padding: 10px 0px;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.nutri-facts .row{
    display: flex;
    width: 100%;
    flex-wrap: nowrap !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.nutri-facts .row:after {
    content: "";
    display: table;
    clear: both;
}

.nutri-facts .column {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    background-color:  #FFAC00;
    color: #ffffff;
    float: left;
    width: 35px;
    height: 65px;
    border-radius: 40px;
    margin: 0px 5px;
    padding: 4px;
    text-align: center;
}

.nutri-facts .card {
    border-radius: 30px;
}

.nutri-facts .circle{
    text-align: center;
	font-weight: normal !important;
	font-size: 10px;
	padding-top: 8px;
	color: white;
	background-color: #DC5C05;
	height: 28px;
  	width: 28px;
  	border-radius: 50%;
}

.nutri-facts .circle h3 {
    font-size: 8px;
    text-align: center;
}

.nutri-facts .nutrition{
    margin-top: 5px;
    font-size: 7px;
}

.nutri-facts p{
    font-size: 5px;
}

.nutri-facts .subheading {
    font-size: 12px;
    margin-top: 8px;
}

input {
    border: 1px solid #ccc;
    font-size: 14px;
    height: 30px;
    padding: 12px 12px;
    position: absolute;
    width: 50%;
    &:focus {
      outline: none;
    }
  }
  button {
    text-align: center;
    &:focus {
      outline: none;
    }
    &.btn-search,
    &.btn-reset {
      background: hotpink;
      border: none;
      height: 30px;
      font-size: 12px;
      padding: 4px;
      position: absolute;
      width: 30px;
    }
  }


button {
    text-align: center;
    &:focus {
      outline: none;
    }
    &.btn-search,
    &.btn-reset {
      background: #DC5C05;
      border: none;
      height: 30px;
      font-size: 12px;
      padding: 4px;
      position: absolute;
      width: 30px;
    }
  }
  .search-input {
    height: 50px;
    margin: 0 14%;
    position: relative;
    width: 80%;
    &.one{
      input {
        border-radius: 15px;
        right: 0;
        transition: all .3s ease-in-out;
        width: 50%;
        &:focus {
          width: 90%;
          ~ button {
            &.btn-search {
              background: #DC5C05;
              color: #fff;
            }
            &.btn-reset {
              right: -22px;
            }
          }
        }
      }
      button {
        transition: all .3s ease-in-out;
        &.btn-search {
          background: #ccc;
          border-radius: 50%;
          height: 26px;
          right: 2px;
          top: 2px;
          transition: all .3s ease-in-out;
          width: 26px;
        }
        &.btn-reset {
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 50%;
          font-size: 10px;
          height: 20px;
          line-height: 20px;
          padding: 0;
          right: 5px;
          top: 5px;
          width: 20px;
          z-index: -1;
        }
      }
    }
  }